/*.card h1{
    margin-top: 10px;
    color: black;
}
input[type="text"]{
    width: 40em;
    height: 2em;
    margin-top: 3px;
    margin-bottom: 3px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}
input[type="submit"]{
    margin-top: 10px;
    background-color: rgb(180, 180, 180);
    color: black;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    text-align: center;
    border-color: rgb(180, 180, 180);
    font-family: 'Courier New', Courier, monospace;
}
div[class="card"]{
    height: 25.5em;
    background-color: #ffffff;
}*/
div[class="mycard"]{
    height: 4vh;
    width: 60vw;
    background-color: #ffffff;
}
.mycard h1{
    margin-top: 10px;
    color: black;
}
hr{
    height: 2px;
    border: 0ch;
    background-color:black
}
form a{
    margin-left: 20px;
    text-decoration: underline;
    font-size: medium;
    color: black;
}
a:visited{
    color: black;
}

.mycard form div label{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}